.projects, .projects.int{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 20px;
    row-gap: 20px;
    width: 100%;
    max-width: 420px;
    margin: 20px auto 50px;   
}

.projects article, .projects.int article {
    width: 100%;
    height: 12.5rem;
    text-align: center;
    color:aliceblue;
    position: relative;
    background-size: 100%;
    background-position: center;
}

.projects.int article.text{
    border: none;
    height: fit-content;
}
article div{
    width: 100%;
    height: 4rem;
    position: absolute;
}
article div div {
    position: relative;
    width: 100%;
    height: 12.5rem;
    background: linear-gradient(180deg, rgba(42,39,64,.7) 40%, rgba(42,39,64,0) 95%);
}
article div div h4 {
    font-weight: 700;
    letter-spacing: .1rem;
    padding: 10px;
    font-size: 1.125rem;
    position: relative;
    top: 5%;
    opacity: 100%;
}


#feat1 {
    background-image: url('../img/featured/bitesizedmockup.webp');
}
#feat2{
    background-image: url('../img/featured/pixelpatchmockup.webp');
}
#feat3{
    background-image: url('../img/featured/palletmockup.webp');
}
#feat4{
    background-image: url('../img/featured/stickermockup.webp');
}
#feat5{
    background-image: url('../img/featured/magazinemockup.webp');
}
#feat6{
    background-image: url('../img/featured/portraitmockup.webp');
}

.int article div div h4 {
    opacity: 0;
}
.int article div div {
    background: transparent;
}
.int div h4 {
    text-align: center;
    padding-top: 5px;
    font-size: 1.25rem;
    font-weight: 600;
}
article img {
    width: 100%;
    border: 1px solid rgb(208, 204, 224);
}
article a {
    color: rgba(161,133,255,1);
    font-weight: 600;
    font-size: 1.25rem;
}
.projects div a{
    color: rgba(161,133,255,1);
    text-decoration: none;
}

@media screen and (min-width:750px){
    .projects {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        column-gap: 20px;
        row-gap: 20px;
        max-width: 650px;
    }

    
}
@media screen and (min-width:900px){

    .projects {
        max-width: 780px;
    }
    .projects article,  article div {
        width: 15.5rem;
        height: 15.5rem;
    }
    article div div {
        width: 12rem;
        height: 12rem;
        margin: 10% auto;
        background: transparent;
    }
    article div div h4 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
        letter-spacing: .1rem;
        padding: 10px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        
    }
}

@media screen and (min-width:1550px){
    .projects {
        max-width: 1050px;
        grid-template-columns: repeat(3, 0fr);
        /* max-width: none; */
    }
    .projects article,  article div {
        width: 20.5rem;
        height: 20.5rem;
    }
    article div div {
        width: 17rem;
        height: 17rem;
        margin: 8% auto;
    }
    article div div h4 {
        font-size: 1.5rem;
        line-height: 2.6rem;
        
    }
}