footer{
    min-height: 300px;
    background-color: rgb(125,170,255);
    padding-top: 20px;
    color:aliceblue
}
footer a{
    color: aliceblue;
    text-decoration: none;
}
.social ul {
    display: flex;
    font-size: 2.125rem;
    list-style: none;
    width:60%;
    justify-content: space-between;
    margin: 0 auto;
}
footer h2 {
    text-indent: -9999px;
    background-image: url('../img/ggdesignslogo.svg');
    height: 80px;
    width: 50%;
    margin: 20px auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;    
}
footer nav {
    font-size: 1.25rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 300;
}
small {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

@media screen and (min-width:560px){
    .social ul {
        width: 45%;
    }
    footer section.container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        width: 100%;
        margin: 20px auto 50px;
    }
    footer nav{ 
        width: 50%;
    }
    footer div{
        width: 50%;
    }
    footer h2{
        width: 70%;
        padding-top: 30px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 900px){
    .social ul{
        padding-top: 50px;
        width: 30%;
    }
    footer section.container {
        width: 80%;
    }
}
@media screen and (min-width: 1400px){
    .social ul{
        width: 20%;
    }
    footer section.container {
        width: 40%;
    }
}