@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600&display=swap');
/*header styles*/
@import url('header.css');
@import url('hero.css');
@import url('featured.css');
@import url('gallery.css');
@import url('form-short.css');
@import url('footer.css');


/* font-family: 'Poiret One', cursive;
font-family: 'Source Sans Pro', sans-serif; */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a2740;
    background-image: url('../img/bg-bubbles.webp');
    background-size: cover;
}

/* BUTTON STYLES */

.button{
    text-align: center;
    font-size: 1.25rem;
    width: 30%;
    margin: 0 auto;
    border: 2px solid aliceblue;
    padding: 7px 5px 8px;
    display: block;
    color: aliceblue;
    text-decoration: none;
}
.button:hover{
    color: #99bdff;
    background-color: aliceblue;
    border: 2px solid transparent;
}

/* HR GRADIENT and H-STYLES */

.hr{
    max-width: 160px;
    height: 2px;
    background: rgb(161,133,255);
    background: linear-gradient(90deg, rgba(161,133,255,1) 0%, rgba(125,169,250,1) 47%, rgba(126,210,213,1) 100%);
    margin: 0 auto;
}
h3 {
    margin: 20px 0;
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    letter-spacing: .1rem;
    text-align: center;
    font-style: italic;
    color: #9474ff;

}
div.container {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 50px
}
aside {
    width: 90%;
    margin: 20px auto 0;
}
aside p {
    font-size: 1.125rem;
    line-height: 1.6rem;
    padding: 20px 0;
}
p.center {
    text-align: center;
}
p.center a{
    color:rgb(88, 190, 194);
    text-decoration: none;
    font-weight: 600;
}
aside h4 {
    font-family: 'Poiret One', cursive;
    letter-spacing: .1rem;
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
}
#left-arrow {
    display: none
}
#down-arrow {
    display: block;
    text-align: center;
}


@media screen and (min-width:800px) {
    div.container{
        flex-direction: row;
        max-width: 1050px;
        margin: 0 auto;
        justify-content: space-between;
    }
    #left-arrow {
        display: block;
        text-align: center;
    }
    #down-arrow {
        display: none;
    }
    aside {
        width: 40%;
    }
}
@media screen and (min-width: 900px){
    aside {
        width: 50%;
    }
}
@media screen and (min-width: 1400px){
    div.container{
        max-width: 1300px;
    }
    aside {
        width: 50%;
    }
    aside p {
        font-size: 1.125rem;
        line-height: 1.6rem;
        padding: 20px 35px;
    }
}




