@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600&display=swap');
/*header styles*/
@import url('header.css');
@import url('hero.css');
@import url('footer.css');


/* font-family: 'Poiret One', cursive;
font-family: 'Source Sans Pro', sans-serif; */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2a2740;
    background-image: url('../img/bg-bubbles.png');
    background-size: cover;
}
.button{
    text-align: center;
    font-size: 1.25rem;
    width: 30%;
    margin: 0 auto;
    border: 2px solid aliceblue;
    padding: 7px 5px 8px;
    display: block;
    color: aliceblue;
    text-decoration: none;
}
.button:hover{
    color: #99bdff;
    background-color: aliceblue;
    border: 2px solid transparent;
}

/* header STYLES MOBILE */

.hr{
    max-width: 160px;
    height: 2px;
    background: rgb(161,133,255);
    background: linear-gradient(90deg, rgba(161,133,255,1) 0%, rgba(125,169,250,1) 47%, rgba(126,210,213,1) 100%);
    margin: 0 auto;
}
h3 {
    margin: 20px 0;
    font-size: 2rem;
    font-family: 'Poiret One', cursive;
    letter-spacing: .1rem;
    text-align: center;
    font-style: italic;
    color: #9474ff;

}
.projects {
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 458px;
}
.projects article {
    width: 12.5rem;
    height: 12.5rem;
    margin: 10px;
    text-align: center;
    color:aliceblue;
    position: relative;
}
article div{
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
}
article div div {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: 2px solid rgba(240, 248, 255, 0.445);
    margin: 9% auto;
    background: transparent;
}
article div div h4 {
    font-weight: 700;
    letter-spacing: .1rem;
    padding: 20px;
    font-size: 1.125rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    
}
#feat1 {
    background-image: url('../img/featured/bitesizedmockup.webp');
    background-size: 100%;
    background-position: center;
}
#feat2{
    background-image: url('../img/featured/pixelpatchmockup.webp');
    background-size: 100%;
    background-position: center;
}
#feat3{
    background-image: url('../img/featured/palletmockup.webp');
    background-size: 100%;
    background-position: center;
}

@media screen and (min-width:750px){
    .projects {
        max-width: 670px;
    }

    
}
@media screen and (min-width:900px){

    .projects {
        max-width: 805px;
    }
    .projects article,  article div {
        width: 15.5rem;
        height: 15.5rem;
    }
    article div div {
        width: 12rem;
        height: 12rem;
        margin: 10% auto;
    }
    article div div h4 {
        font-size: 1.5rem;
        line-height: 2rem;
        
    }
}

@media screen and (min-width:1550px){
    .projects {
        max-width: 1050px;
        /* max-width: none; */
    }
    .projects article,  article div {
        width: 20.5rem;
        height: 20.5rem;
    }
    article div div {
        width: 17rem;
        height: 17rem;
        margin: 8% auto;
    }
    article div div h4 {
        font-size: 1.5rem;
        line-height: 2.6rem;
        
    }
}



